* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}
/*  body    font-family: 'Open Sans', sans-serif; */
/* heading   font-family: 'Poppins', sans-serif; */

html {
  font-family: "Open Sans", sans-serif;
}
.header-top {
  margin-top: 0.5rem;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.header-top .message-logo img {
  height: 1rem;
  display: flex;
}
.header-top button {
  font-weight: 500;
  color: rgb(247, 129, 149);
  background-color: white;
  border-radius: 1rem;
  border: rgb(250, 158, 173) solid 0.05rem;
  height: 1.3rem;
  width: 6rem;
}
.head-tag {
  margin: 5rem 2rem;
  text-align: center;
  margin-top: 7rem;
}
.head-tag h1 {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  font-family: "Poppins";
  line-height: 2rem;
  color: hsl(192, 100%, 9%);
}
.head-tag p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 100%;
  font-size: 0.9rem;
  margin-top: 2rem;
  color: hsl(192, 100%, 9%);
}
.head-tag button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: whitesmoke;
  margin-top: 3rem;
  height: 2.5rem;
  width: 70%;
  border: hsl(322, 100%, 66%) 0.5rem solid;
  border-radius: 2rem;
  box-shadow: hsl(320, 1%, 59%) 0.2rem 0.2rem 0.5rem;
  background-color: hsl(322, 100%, 66%);
}
.head-tag img {
  margin-top: 7rem;
  width: 100%;
  height: 13rem;
}
.icons {
  margin: 4rem 2rem;
  text-align: center;
  margin-top: 5rem;
  color: hsl(192, 100%, 9%);
}
.community img {
  height: 2rem;
  margin-left: -8rem;
}
.community h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
}

.community p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: rgb(150, 150, 150);
}
.messages img {
  height: 2rem;
  margin-top: 5rem;
  margin-left: -8rem;
}
.messages h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
}
.messages p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: rgb(150, 150, 150);
}
.top-mobile1 img {
  height: 5rem;
  margin-bottom: -0.5rem;
  width: 100%;
}
.top-desktop1 img {
  display: none;
}
.grow-together {
  height: 45rem;
  text-align: center;
  background-color: hsl(207, 100%, 98%);
}
.grow-together img {
  padding-top: 6rem;
  width: 80%;
  height: 15rem;
}
.grow-together h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 5rem;
  color: hsl(192, 100%, 9%);
}
.grow-together p {
  font-family: "Open Sans", sans-serif;
  width: 80%;
  font-size: 0.9rem;
  padding: 2rem 2rem;
  color: hsl(192, 100%, 9%);
}
.bottom-mobile1 img {
  width: 100%;
}
.bottom-desktop1 img {
  display: none;
}
.flowing-conversations {
  margin: 5rem 0rem;
  text-align: center;
}
.flowing-conversations img {
  width: 80%;
  height: 15rem;
  margin-top: 6rem;
}
.flowing-conversations h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 5rem;
  color: hsl(192, 100%, 9%);
}
.flowing-conversations p {
  font-family: "Open Sans", sans-serif;

  margin-top: 2rem;
  padding: 0rem 2rem;
  color: hsl(192, 100%, 9%);
}

.top-mobile2 img {
  margin-bottom: -0.5rem;
  width: 100%;
}
.top-desktop2 img {
  display: none;
}
.your-users {
  height: 40rem;
  text-align: center;
  background-color: hsl(207, 100%, 98%);
}
.your-users img {
  width: 80%;
  height: 15rem;
  margin-top: 6rem;
}
.your-users h2 {
  font-family: "Poppins", sans-serif;
  margin-top: 5rem;
  color: hsl(192, 100%, 9%);
}
.your-users p {
  font-family: "Open Sans", sans-serif;
  margin-top: 2rem;
  padding: 0rem 2rem;
  color: hsl(192, 100%, 9%);
}
.bottom-mobile2 img {
  width: 100%;
}
.bottom-desktop2 img {
  display: none;
}
.button {
  margin: 15rem 2rem;
  text-align: center;
}
.button button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 3rem;
  color: whitesmoke;
  background-color: hsl(322, 100%, 66%);
  height: 3rem;
  width: 70%;
  border-radius: 2rem;
  border: hsl(322, 100%, 66%) 0.1rem solid;
  box-shadow: hsl(320, 1%, 59%) 0.1rem 0.2rem 0.3rem;
}
.footer-image img {
  width: 100%;
}
.footer {
  background-color: hsl(192, 100%, 9%);
  width: 100%;
}

.footer-top {
  margin-top: -1rem;
  color: whitesmoke;
  padding: 2rem 2rem;
  text-align: start;
}
.footer-top h1 {
  font-family: "Poppins", sans-serif;
  margin: 1rem 0rem;
}
.footer-top p {
  line-height: 1.5rem;
}
.footer-top input {
  font-size: 1.5rem;
  margin-top: 2rem;
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  border: hsl(192, 100%, 9%) 0.1rem solid;
}
.footer-top button {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  float: right;
  color: whitesmoke;
  background-color: hsl(322, 100%, 66%);
  height: 3rem;
  width: 50%;
  border: hsl(322, 100%, 66%) 0.1rem solid;
  border-radius: 0.3rem;
  margin-top: 1rem;
}
.footer-bottom {
  color: whitesmoke;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.footer-img img {
  height: 2rem;
  color: white;
}
.footer-img span {
  font-size: 3rem;
}

.footer-bottom p {
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
.phone-icon {
  display: flex;
  margin-top: 2rem;
}
.phone-icon img {
  height: 1rem;
  margin-top: 2rem;
}
.phone-icon p {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.email-icon {
  display: flex;
}
.email-icon img {
  height: 1rem;
  margin-top: 2rem;
}
.email-icon p {
  margin: 1.5rem;
  margin-left: 1rem;
}
.font-icons {
  padding: 2rem 0rem;
}
.font-icons i {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

/*MEDIA QUERIES for desktop 1440px */
@media (min-width: 376px) {
  .header-top {
    margin: 3rem;
  }
  .header-top .message-logo img {
    height: 2.5rem;
    width: 15rem;
  }
  .header-top button {
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    font-size: medium;
  }

  .head-tag h1 {
    font-size: 3rem;
    line-height: 2rem;
    margin-top: 12rem;
  }

  .head-tag p {
    font-size: 1.4rem;
    text-align: center;
    width: 53%;
    margin-left: 20rem;
  }
  .head-tag button {
    height: 4.5rem;
    width: 32%;
    font-size: larger;
    border-radius: 4rem;
    float: center;
  }
  .head-tag img {
    margin-top: 8rem;
    width: 70%;
    height: 40rem;
  }
  .icons {
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
  }
  .community img {
    margin-left: -18rem;
    height: 3rem;
  }
  .community h1 {
    font-size: 8rem;
  }
  .community p {
    font-size: 2rem;
  }

  .messages {
    margin-top: -5rem;
  }
  .messages h1 {
    font-size: 8rem;
  }
  .messages p {
    font-size: 2rem;
  }
  .messages img {
    height: 3rem;
    margin-left: -18rem;
  }
  .top-mobile1 img {
    display: none;
  }
  .top-desktop1 img {
    display: inline-block;
    width: 100%;
    margin-bottom: -5.5rem;
    margin-top: 10rem;
  }
  .grow-together {
    background-color: hsl(207, 100%, 98%);
  }
  .grow-together img {
    padding-right: 8rem;
    height: 30rem;
    max-width: 40%;
    float: right;
    background-color: hsl(207, 100%, 98%);
  }
  .grow-together h2 {
    font-size: 3rem;
    text-align: left;
    margin-left: 6rem;
    padding-top: 10rem;
  }
  .grow-together p {
    font-weight: 600;
    font-size: 1.1rem;
    width: 40%;
    text-align: left;
    margin-left: 4rem;
    padding-bottom: 10rem;
  }

  .bottom-mobile1 img {
    display: none;
  }
  .bottom-desktop1 img {
    display: inline-block;
    width: 100%;
  }
  .top-mobile2 img {
    display: none;
  }
  .top-desktop2 img {
    display: inline-block;
    width: 100%;
    margin-bottom: -5.5rem;
    margin-top: 10rem;
  }
  .bottom-mobile2 img {
    display: none;
  }
  .bottom-desktop2 img {
    display: inline-block;
    width: 100%;
    margin-top: -1rem;
  }
  .flowing-conversations img {
    float: left;
    height: 25rem;
    max-width: 35%;
    padding-left: 7rem;
  }
  .flowing-conversations h2 {
    float: right;
    padding-right: 10rem;
    font-size: 3rem;
    margin-top: 13rem;
  }
  .flowing-conversations p {
    float: right;
    text-align: left;
    max-width: 42%;
    padding-right: 7rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .your-users {
    background-color: hsl(207, 100%, 98%);
  }
  .your-users img {
    padding-right: 8rem;
    height: 30rem;
    max-width: 40%;
    float: right;
    background-color: hsl(207, 100%, 98%);
  }
  .your-users h2 {
    font-size: 3rem;
    text-align: left;
    margin-left: 6rem;
    padding-top: 16rem;
    color: hsl(192, 100%, 9%) 0.1rem;
  }
  .your-users p {
    font-weight: 600;
    font-size: 1.1rem;
    width: 40%;
    text-align: left;
    margin-left: 4rem;
    padding-bottom: 11rem;
    color: hsl(192, 100%, 9%) 0.1rem;
  }
  .button h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .button button {
    border-radius: 5rem;
    width: 30%;
    height: 5rem;
    font-size: larger;
  }
  .footer-image {
    margin-bottom: -9rem;
  }
  .footer-top {
    float: right;
    width: 40%;
    padding-right: 8rem;
  }
  .footer-top h1 {
    font-size: 1.5rem;
  }
  .footer-top p {
    font-size: 1rem;
    width: 65%;
  }
  .footer-top input {
    width: 60%;
    height: 3.5rem;
  }
  .footer-top button {
    margin-top: -3.5rem;
    width: 30%;
    height: 3.5rem;
  }
  .footer-bottom {
    margin-left: 8rem;
  }
  .footer-bottom img {
    margin-top: 2rem;
  }
  .footer-bottom p {
    width: 25%;
    margin-top: 1rem;
  }

  .phone-icon img {
    margin-top: 1.2rem;
  }
  .phone-icon p {
    margin-top: 1rem;
    width: 60%;
  }
  .email-icon img {
    margin-top: 1.2rem;
  }
  .font-icons i {
    font-size: 2rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
  }
}
